@using MVCII_Login_Registration
@model Registration
<div class="container">
    <div class="col-lg-12">
        <form asp-action="Registration" method="post" class="form-group col-lg-12">
            <h1>Register</h1>
            <div class="col-lg-12">
                <p>
                    <p><span asp-validation-for="FirstName" class="text-danger"></span></p>
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control">
                </p>
                <p>
                    <p><span asp-validation-for="LastName" class="text-danger"></span></p>
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control">
                </p>
                <p>
                    <p><span asp-validation-for="Email" class="text-danger"></span></p>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                </p>
                <p>
                    <p><span asp-validation-for="Password" class="text-danger"></span></p>

                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control">
                </p>
                <p>
                    <p><span asp-validation-for="ConfirmPassword" class="text-danger"></span></p>
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control">
                </p>
                <p>
                    <input type="submit" class="btn btn-info btn-lg">
                </p>
            </div>
        </form>
    </div>
</div>