@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-6">
        <partial name="_RegistrationPartial"></partial>
    </div>
    <div class="col-lg-6">
        <partial name="_Login" model="new Login()"></partial>
    </div>
</div>
